
<head>
    <link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<h1>Register</h1>
<form action="/register" method="POST">
    <div>
        <Label for="name">Name</Label>
        <input type ="text" id="name" name="name" required>
        <br>
    </div>

    <div>
        <Label for="email">Email</Label>
        <input type ="email" id="email" name="email" required>
    </div>
    <div>
        <Label for="password">Password</Label>
        <input type ="password"  id="password" name="password" required>
    </div>
   <button type="submit">Register</button>
   <br>
   <div>
    <a href="/login" id ="backtologin">Back to Login</a>
   </div>
   
</form>